/* The self introduction video: https://www.youtube.com/watch?v=ib-FZzErKwg */

/* The structure of the project is/has:
- A div .container inside the body, which surround all the page's content;
- A Header, with a div inside with the H1 and the navbar. This div will have the fixed position;
- The Main element contains 6 sections with content;
- The header (h2) of the sections is positioned between the sections, inside a div with the shadow effect;
- One youtube video embedded in one section;
- The last section .Inspirations has 3 divs with content (patterns). I will create a javascript carousel to show one pattern at a time;
- A Footer, with the Linkedin and Github icons, and a arrow icon (to go back to the top);
- The media responsiveness, with adaptations for screens smaller than 900px and 500px;
- Some images from Pexels or Unsplash;
- Two differents font-families from Google Fonts;
- The color palette with 3 color, besides black and white;
- The texts of the project were grabbed from the other websites and they are not mine;
*/

/* Adding some fonts from fonts.google: Amigurumi is a handmade work, so I've chosen two font-families that evoke it. Then I found them on Google Fonts and added in my project. */
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Sacramento&display=swap');

/* The color palette of the project is based on the image I will place as a background-image for the Header and the Footer. I used the Adobe tool to extract some colors from the image. */

/* To be easyer to use the colors and the fonts inside my code, I am customizing the properties color and font on the :root */
:root {
  --color-primary: #261210;
  --color-secondary: #AD9C80;
  --color-tertiary: #f2f2f2;

  --color-background1: #B5B5A9;
  --color-background2: #C9DCE3;
  
  --color-linkedin: #0077b5;
  --color-github: #171515;
  
  --font-primary: 'Delius', cursive;
  --font-secondary: 'Sacramento', cursive;
}

/* Before I start to style the project, I want to reset the default styles from the browsers. By resetting I can avoid different defaults from different browsers; Some properties are more general an other more specific;*/
body, main, header, section, footer, div, h1, h2, h3, p, header ul, header li, footer ul, footer li, header a, footer a, .sections a { 
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


/* The .container will have the max-width as 1140px and be centralize to show the content in a good look way on the big screens. I will set a smooth box-shadow to create the illusion of depth, and I will add a radial-gradient on the body's background to simulate a natural lighting. */
body {
  background-image: radial-gradient(circle farthest-side, var(--color-background1), var(--color-background2));
}

.container {
  max-width: 1140px;
  margin: auto auto; /* Put the container on the center of the page*/
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.200);
}
/* I will place an image as a background for the Header and the Footer, so then I created a class that is styling the background image for both elements. This image doesn't have the alt attribute, so I have added a title attribute on each element instead. */

.backgroundHeaderFooter {
  background-image: url(https://images.pexels.com/photos/4792086/pexels-photo-4792086.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover; /* The image is covering all the header/footer background, because the image is less wider than the container; */
}

/* I will add some media responsiveness in my project, and I will add the specific comments for that part of the style, if it is necessary. */
/* The Header will have a fixed height, and the image on the background is higher, so I will centralized it. */
header {
  background-position: center center; /* Because the image is higher than the header, I positioned it in the center of it. */
  height: 400px; /* */
  /* position: relative; */
}

/* I added a div inside the Header, which will receive the position fixed. This div contains the h1 and the navigation bar. Then I will defined a Black transparent background with the z-index 1 to make the white content visible against the background of the whole page. */
header .headerContent {
  background-color: rgba(0, 0, 0, 0.400); /* Black Transparent */
  position: fixed;
  z-index: 1;
  max-width: 1140px;
  margin: auto auto;
  width: 100%;
  height: 120px;
}

/* Style the h1, it should be on the left of the page; */
h1 {
  padding: 10px 15px 10px 50px;
  font-size: 4em;
  font-family: var(--font-secondary);
  color: white;
  float: left;
}

/* Style the menu on big screens: on the horizontal way, on the right of the screen.*/
.navMenu {
  align-items: center;
}

/* Style the navigation bar (menu) on the right of the page; */
.navMenu .divMenu {
  float: right;
  padding: 55px 15px 10px 15px;
  position: relative;
}

/* Style the links inside the navigation bar; */
.navMenu .ulMenuBigScreen li {
  display: inline;
  margin: 0 10px;
}

.navMenu a {
  color: white;
  font-family: var(--font-primary);
  font-size: 1em;
}

/* The project have the Hrefs on the menu and inside the section, I will customize them on hover, the text decorarion will be underline: */
.navMenu a:hover,
.sections a:hover {
  text-decoration: underline;
}

/* The project has two navbars inside the menu, one for big screens and another one for small screens (mobile), and an .iconMenu.
On big screens, I will hide the .ulMenuSmallScreen and the .iconMenu.
On small screens, I will hide .ulMenuBigScreen and show the .iconMenu. 
The .ulMenuSmallScreen will be shown shown just when the users click on the .iconMenu on the smalls screens. */
.navMenu .ulMenuSmallScreen, 
a.iconMenu {
  display: none;
}

/* Style the other elements of the webpage: */
h2, 
h3, 
p, 
.sections li, 
.sections p a {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

p {
  margin: 1em;
  font-size: 1em;
  text-align: justify;
}

/* Style the list inside the .inspiration section: */
.sections ul li {
  list-style-type: circle;
  list-style-position: inside;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-right: 50px;
}

/* Style the divisions between the sections with the header of each one. I will create a shadow with the text in the middle, which will be the header content of each section */
/* The .division will receive of the shadow element and the textDivision element. It will take 100% of the screen width, and receive the relative position. */
.division {
  margin-top: 80px;
  width: 100%;
  position: relative;
}

.division .shadow { /*The child element */
  overflow: hidden; /* this property hidden the content out of the div space, making the div as a line; */
  height: 20px;
}

.division .shadow:after { /*Pseudo class with the shadow */
  content: '';
  display: block;
  margin: -25px auto 0; /* The block content will take the space from the .shadow element */
  width: 100%;
  height: 25px;
  border-radius: 125px/12px; /* This property set the radius of the element and help to create the effect of the size shadow is decreasing when is getting the bord of the container*/
  box-shadow: 0 0 8px var(--color-primary);
}

/* This element will receive the header content, and I will receive the elliptical shape: */
.division .textDivision { 
  width: 150px;
  height: 67.5px;
  padding: 10px;
  position: absolute; /* Set the absolute position inside the .division*/
  bottom: 100%; /* The position absolute inside of the father element (.division) */
  margin-bottom: -44px; /* This property set the element on the middle of the shadow, because it takes the space of the next element */
  left: 50%; /* Position the element in the middle of the screen */
  margin-left: -75px; /* Helps to position the element in the middle of the screen */
  border-radius: 100%; /* Set the elliptical shape to the element */
  box-shadow: 0 2px 4px var(--color-primary); /*The shadow will help to highlight the element*/
  background: white; /*The white will hide the shadow behind the element*/
}

/* The text will be in the center of the father element. We set the line-height bigger, because the bord will be close to the father element's bord. The border-radius will set the elliptical shape to the element as the father element */
.division .textDivision h2 {
  position: absolute; /* Set the absolute position inside the .division*/
  inset: 4px; /* This property is a shorthand to define the top, right, bottom, left properties;*/
  border-radius: 100%;
  border: 1px dashed var(--color-primary);
  text-align: center;
  line-height: 75px;
  font-size: 1.5em;
}

/* Style the disposition of the sections content: */
.setDisplayFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Style the specific disposition for two sections content */
.setRowReverse > .setDisplayFlex {
  flex-direction: row-reverse;
}

/* Style the sections and the divs inside the sections: */
.sections {
  margin: 30px 10px;
}

.sectionImages {
  width: 22%;
  min-width: 280px;
  height: 75%;
  margin: 1em;
}

.sectionContent {
  width: 60%;
  padding: 5px;
}

.inspirationsContent {
  margin: 50px 20px;
}

.tutorialContent {
  margin: 50px 20px;
}

/* Those two P element will receive a specific margin, because they won't be inside a .sectionContent div;*/
.tutorialContent p, 
.inspirationsContent p {
  margin: 32px;
}

/* Make the video responsiveness in small screens. The video is inside a new container, and its position is absolute, and in the top of the container. If I don't put the iframe inside a container with relative position, the absolute position of iframe will be referent to the body and not to the father element; The size of the padding-bottom is the 56.25% of the width, the original proportion of the video; */
.iframeContainer{
  position: relative;
  margin: 1em auto;
  width: 70%;
  padding-bottom: 39.375%; 
  height: 0;
}

.iframeContainer iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Style the content inside the .Inspiration  */
h3 {
  text-align: center;
  margin: 0.5em;
  font-size: 1.2em;
}

/* This will be the href of the patterns source: */
.sourcePattern {
  display: block;
  margin: 2px;
  font-size: 0.8em;
  text-align: right;
  color: var(--color-secondary);
}

.patternsImage {
  width: 30%;
  margin: 1em;
}

.tablePattern {
  width: 60%;
  margin: 1em;
}

/* Style the table with the materials of the patterns, inside of .inspirations */
.tableContainer {
  overflow-x: auto;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.050);
}

table {
  width: 100%;
  border-radius: 5px;
  border-collapse: collapse;
  color: var(--color-secondary);
  font-family: var(--font-primary);
}

thead tr {
  height: 2em;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.050);
  text-align: left;
}

thead th {
  padding: 0.5em 1em;
  color: var(--color-primary);
}

tbody tr {
  border-bottom: 1px solid var(--color-tertiary);
}

tbody td {
  height: 2em;
  padding: 0.5em 1em;
  
}

/* Style the div with the icons of the carousel */
.carouselTools {
  width: 80%;
  margin: auto auto;
}

.carouselTools button {
  background-color: white;
  border: none;
  border-radius: 125px/12px;
  color: var(--color-secondary);
  font-size: 40px;
  cursor: pointer;
}

.carouselTools button:hover {
  color: var(--color-primary);
  transition: 0.4s;
}

/* To make the carousel happens, I created a class .carouselInactive that will hide the the patterns. When the page is loaded, just the #pattern1 will be shown and the #pattern2 and the #pattern3 elements will start hidden (they will have this class), and then will be hidden/shown using javascript code: */
.sections .inspirationsContent .carouselInactive {
  display: none;
}

/* Style the footer elements: */
.footer {
  height: 100px;
  background-position: center bottom; /* Because the image is higher than the header, I positioned it in the center of it. */
}

.footerContent {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.400); /* Black Transparent */
}

.footerContent .copyright {
  font-size: 14px;
  color: white;
}

.footerContent a .fab {
  padding: 1em;
  color: white;
  font-size: 150%;
}

.footerContent .fa-linkedin:hover {
  color: var(--color-linkedin);
}

.footerContent .fa-github-square:hover {
  color: var(--color-github);
}

/* Style the arrow icon in the center of the circle: */
.backToTheTopIcon {
  position: relative;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--color-primary);
}

.backToTheTopIcon .fa-arrow-up {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* The responsiveness of the page: When the screen is less than 900 pixels wide: */
/* Hide all links of the menu, and show the element .iconMenu on the right side of the screen; */
@media screen and (max-width: 900px) {
  .navMenu .ulMenuBigScreen {
    display: none;
  }

  .divMenuMobile a.iconMenu {
    display: block;
    float: right;
    position: absolute;
    right: 15px;
    top: 55px;
  }
  /* To make the .ulMenuSmallScreen be shown, the javascript will add the class.active to the same element when the .iconMenu is clicked */
  .divMenuMobile .active {
    float: right;
    display: block;
    margin: 3px 10px;
  }

  .divMenuMobile .active li {
    text-align: right;
    padding: 1px 10px;
    font-size: 0.8em;
  }

   /* The video, the table, the images and the contents will be resized */
   .iframeContainer {
    width: 80%;
  }

  .sectionImages {
    width: 70%;
    height: 75%;
  }
  
  .sectionContent {
    width: 80%;
  }

  .patternsImage {
    width: 60%;
  }
  
  .tablePattern {
    width: 80%;
  }
}

/* The responsiveness of the page: When the screen is less than 500 pixels wide: */
/* The header, some elements and divs will be resized */
@media screen and (max-width: 500px) {
  header {
    height: 200px;
  }

  h1 {
    padding: 25px 15px 15px 15px;
    font-size: 3em;
  }

  .divMenuMobile .active {
    margin: 8px 5px;
  }

  .patternsImage {
    margin: 0.5em;
  }

  .tablePattern {
    margin: 0.5em 0;
  }

  /* With this screen size the hover won't work, so to show to the user that has a href, the element will receive the text-decoration; */
  .sections a {
    text-decoration: underline;
  }

  table {
    font-size: 0.8em;
  }

  thead th, tbody td {
    padding: 0.5em;
  }

  .carouselTools button {
    font-size: 20px;
  }
}